:root {
  --primary-green: #198754;
  --dark-green: #157347;
  --light-green: #dcfce7;
  --text-dark: #292524;
  --text-gray: #6b7280;
  --bg-light: #f9fafb;
  --ink: #44403c;
  --brand: var(--primary-green);
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background-color: #f7f9fb;
  color: var(--text-dark);
}

.aboutContent {
    padding: 0px 12%;
}

h1 {
    font-weight: bolder;
    font-size: 36px;
}

h1 span {
    font-size: 36px;
}

.subtitle {
    font-size: 16px;
    color: #79B931;
}

.description {
    text-align: justify;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.mail, .tel {
    margin-left: 12px;
    gap: 10px;
}

.mail i, .tel i {
    width: 48px;
    height: 48px;
    background-color: #F5EDE8;
    text-align: center;
    align-content: center;
    border-radius: 8px;
}

.mail h1, .tel h1 {
    font-size: 16px;
    font-weight: 500;
}

.mail a, .tel a {
    text-decoration: none;
    font-size: 14px;
    color: #79B931;
}

#exploreServices {
    background-color: #79B931;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #79B931;
    padding: 10px 15px;
}

#exploreServices:hover {
    background-color: #5a8826;
}

.form-container {
  display: flex;
  justify-content: flex-start;
}

.form-box {
  text-align: start;
  width: 448px;
}

h2 {
  margin-bottom: 8px;
  font-weight: 700;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #79B931;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  color: #222;
}

input::placeholder {
  color: #79B931;
}

.login-main-btn {
  width: 131px;
  padding: 12px;
  background: #79B931;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}

.login-main-btn:hover {
  background: var(--primary-green);
}

.accordion-item {
    background-color: transparent !important;
    border: 1px solid #79B931 !important;
    border-radius: 8px;
}

.accordion-button {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 500;
    color: #1C120D !important;
}

.accordion-body {
    font-size: 14px;
    font-weight: normal;
    color: #79B931;
}