:root {
    --primary-green: #198754;
    --dark-green: #157347;
    --light-green: #dcfce7;
    --text-dark: #292524;
    --text-gray: #6b7280;
    --bg-light: #f9fafb;
}

* {
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.Service-page {
  max-width: 1300px;
  margin: 60px auto;
  padding: 0 40px;
}

.breadcrumb {
  color: var(--text-gray);
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--text-gray);
}

.breadcrumb span {
  font-weight: 600;
}

.Service-title {
  font-size: 44px;
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 30px;
}

.Service-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.Service-left {
  flex: 2.5;
}

.main-img {
  width: 200px;
  height: 200px;
  border-radius: 18px;
  margin-bottom: 30px;
}

.Service-card {
  background: #f8f6ef;
  border-radius: 18px;
  padding: 28px;
}

.Service-card h2 {
  font-size: 44px;
}

.Service-header {
  display: flex;
  justify-content: space-between;
}

.price-box {
  text-align: right;
  background-color: white;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 2px rgb(231, 231, 231);

}

.price-box h3 {
  color: var(--dark-green);
  font-size: 32px;
  margin-top: 4px;
}

.price-box span {
  font-size: 24px;
  margin-left: 5px;
}

.Service-desc {
  margin-top: 15px;
  line-height: 1.6;
}

.book-btn {
  width: 100%;
  background: var(--dark-green);
  color: white;
  padding: 14px;
  margin-top: 25px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.Service-right {
  flex: 1;
}

.related-box {
  background: #faf6ea;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.related-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.offer-card-side {
  background: var(--dark-green);
  color: white;
  padding: 22px;
  border-radius: 16px;
  text-align: center;
}

.offer-card-side h3 { 
    font-size: 20px; 
    margin-top: 0;
}

.learn-btn {
  background: white;
  color: var(--dark-green);
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
